section.cart {
  padding-top: 120px;
  padding-bottom: 30px;
  background-image: url("../img/background2.png");
  background-size: cover;
}
.cart .badge {
  height: 20px;
  width: 20px;
  line-height: 18px;
  font-size: 10px;
}
.cart .bg-light {
  margin-left: -10px;
  width: 35px;
  height: 35px;
  line-height: 34px;
}
.cart .badge .bg-success1 {
  background-color: #6a4029;
  color: #6a4029;
}

.cart h1 {
  font-weight: 700;
  letter-spacing: 3px;
}
#editlink:hover {
  transform: scale(1.3);
  border-bottom: 1px solid white;
}
#order {
  margin-left: 3px;
  margin-right: 70px;
}
#checkout {
  margin-right: 50px;
}
#payment {
  margin-top: -5px;
  font-size: 25px !important;
  font-weight: 500;
}
.cart .line {
  margin-bottom: 3px;
  margin-left: -10px;
  display: inline-block;
  background-color: white;
  width: 100px;
  height: 2px;
}
.cart .card-cart {
  margin: 20px 0;
  width: 400px;
}
.cart-scroll {
  width: auto;
  margin: 15px;
  border-bottom: 0.3px solid rgb(223, 223, 223);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  width: auto;
  height: 300px;
}
.cart-scroll p {
  font-size: 18px;
  padding: 0;
  margin: -3px;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #a7a8a7;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffba33;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #6a4029;
}
section.cart .badge-danger {
  width: 35px;
  height: 35px;
  font-size: 17px;
  line-height: 31px;
  margin: 0 8px 0 20px;
}
@media (max-width: 600px) {
  section.cart {
    padding-left: 20px;
    padding-right: 20px;
  }
  .cart #right-column {
    width: 350px;
  }
}
