.product .badge {
  height: 20px;
  width: 20px;
  line-height: 18px;
  font-size: 10px;
}
.product .badge-light {
  background-color: #6a4029;
  margin-left: -10px;
  width: 28px;
  height: 28px;
  line-height: 26px;
}
#order {
  margin-left: 3px;
  margin-right: 55px;
}
#checkout {
  margin-right: 38px;
}
#payment {
  margin-top: -5px;
  font-size: 25px !important;
  font-weight: 500;
}
.product .line {
  margin-bottom: 3px;
  margin-left: -4px;
  display: inline-block;
  background-color: rgb(155, 155, 155);
  width: 90px;
  height: 2px;
}

section.product h1.name {
  font-family: "Patrick Hand", cursive;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 4px;
}
section.product .count {
  background-color: rgb(187, 183, 183);
  font-size: 27px;
  font-weight: bold;
  border-radius: 20px;
}
@media (max-width: 600px) {
  section.product img {
    width: 300px;
    height: auto;
  }
  section.product h1.name,
  section.product h1.price {
    text-align: center;
  }
}
